@model Munkanaplo2.Models.JobModel

@{
    ViewData["Title"] = "Törlés";

    string canDelete = Model.JobCreator == Model.JobOwner ? Model.JobCreator : Model.JobOwner + " és " + Model.JobCreator;
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1>Feladat törlése</h1>
@if (SignInManager.IsSignedIn(User))
{
    @if (User.Identity?.Name == Model.JobOwner || User.Identity?.Name == Model.JobCreator)
    {
        <h3>Biztosan törlöd a feladatot???</h3>
        <div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cím
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt class="col-sm-2">
            Feladatleírás
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt class="col-sm-2">
            Tulajdonos
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobOwner)
        </dd>

        <dt class="col-sm-2">
            Státusz
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobStatus)
        </dd>

        <dt class="col-sm-2">
            Létrehozó
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobCreator)
        </dd>

        <dt class="col-sm-2">
            Létrehozás dátuma
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        @if (Model.JobStatus != "folyamatban")
                {
                    <dt class="col-sm-2">
                        Befelyezés dátuma
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FinishDate)
                    </dd>
                }

            </dl>

            <form method="post" asp-controller="Jobs" asp-action="DeleteConfirmed">
                <input type="hidden" name="Id" value="@Model.Id"></input>
                <input type="submit" value="Törlés" class="btn btn-danger"></input><a> | </a>
                <a type="button" class="btn btn-primary" asp-controller="Jobs" asp-route-id="@Model.ProjectId"
                    asp-action="Index">Vissza</a>
            </form>
        </div>
    }
}
@if (SignInManager.IsSignedIn(User))
{
    @if (User.Identity?.Name != Model.JobOwner && User.Identity?.Name != Model.JobCreator)
    {
        <br />
        <br />
        <div class="text-center">
    <h1 class="display-4">HIBA!</h1>
    <br>
    <p><strong>A feladatokat nem szerkesztheted ｡°(°.◜ᯅ◝°)°｡</strong></p>
    <br>
    <a>Ha úgy gondolod ,hogy a programmal van a gond jelensd </a><a
        href="https://github.com/tm01013/Munkanaplo2.git">itt</a>
    <br />
    <a type="button" class="btn btn-primary" asp-controller="Jobs" asp-route-id="@Model.ProjectId"
        asp-action="Index">Vissza</a>
</div>
    }
}