@model Munkanaplo2.Models.JobModel

@{
    ViewData["Title"] = Model.JobTitle;
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1>Részletek</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cím
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt class="col-sm-2">
            Feladatleírás
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt class="col-sm-2">
            Tulajdonos
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobOwner)
        </dd>

        <dt class="col-sm-2">
            Státusz
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobStatus)
        </dd>

        <dt class="col-sm-2">
            Létrehozó
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobCreator)
        </dd>

        <dt class="col-sm-2">
            Létrehozás dátuma
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        @if (Model.JobStatus != "folyamatban")
        {
            <dt class="col-sm-2">
                Befelyezés dátuma
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FinishDate)
            </dd>
        }
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th class="w-1">
                </th>
                <th>
                    <strong>Alfeladatok</strong>
                </th>
                <th>
                    <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#addSubTask">Új</a>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.SubTasks != null)
            {
                @foreach (var item in ViewBag.SubTasks)
                {
                    <tr>
                        <td class="w-1">
                            <strong>•</strong>
                        </td>
                        <td>
                            <strong>@item.TaskTitle</strong>
                        </td>
                        <td>
                            @item.TaskDetails
                        </td>
                        <td>
                            @item.TaskCreator
                        </td>
                        <td>
                            @item.TaskCreationDate
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

<div class="modal fade" id="addSubTask" tabindex="-1" aria-labelledby="addSubTask" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Új alfeladat létrehozása</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (SignInManager.IsSignedIn(User) && (User.Identity?.Name == Model.JobOwner || User.Identity?.Name ==
                Model.JobCreator))
                {
                    <form class="form-inline" asp-controller="Jobs" asp-action="CreateSubTask">
                        <input type="hidden" name="JobId" value="@Model.Id"></input>
                        <div class="row">
                            <div class="col-1">
                                <strong>• </strong>
                            </div>
                            <div class="col-3 form-inline">
                                <input name="TaskTitle" class="form-control w-10" placeholder="Cím" />
                            </div>
                            <div class="col-8 form-inline">
                                <input name="TaskDetails" class="form-control w-30" placeholder="Leírás" />
                            </div>
                        </div>
                        <input type="hidden" name="TaskCreator" class="form-control"
                            value="@User.Identity.Name.ToString()" />
                        <input type="hidden" name="TaskCreationDate" class="form-control"
                            value="@DateTime.Now.ToString("yyyy/MM/dd H:mm")" />
                        <br>
                        <div class="float-end">
                            <input type="submit" value="Hozzáadás" class="btn btn-primary"></input>
                        </div>
                    </form>

                }
                else
                {

                }
            </div>
        </div>
    </div>
</div>

<div>
    @if (SignInManager.IsSignedIn(User) && (User.Identity?.Name == Model.JobOwner || User.Identity?.Name ==
    Model.JobCreator) && Model.JobStatus == "folyamatban")
    {
        <form asp-controller="Jobs" asp-action="EditConfirmed">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="form-group">
                <input type="hidden" asp-for="JobTitle" class="form-control" value="@Model.JobTitle" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="JobDescription" class="form-control" value="@Model.JobDescription"></input>
                <span asp-validation-for="JobDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="JobOwner" asp-for="JobOwner" value="@Model.JobOwner" />
                <span asp-validation-for="JobOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="JobCreator" class="form-control" value="@Model.JobCreator" />
                <span asp-validation-for="JobCreator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CreationDate" class="form-control" value="@Model.CreationDate" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="JobStatus" class="form-control"
                    value="Befejezve @User.Identity?.Name.ToString() által." />
                <span asp-validation-for="JobStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="FinishDate" class="form-control"
                    value="@DateTime.Now.ToString("yyyy/MM/dd H:mm")" />
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ProjectId" class="form-control" value="@ViewBag.ProjectId" />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="KÉSZ" class="btn btn-primary" />
            </div>
        </form>
        <br />
    }
    @if (SignInManager.IsSignedIn(User) && (User.Identity?.Name == Model.JobOwner || User.Identity?.Name
    == Model.JobCreator))
    {
        <a type="button" class="btn btn-primary" asp-controller="Jobs" asp-action="Edit"
            asp-route-id="@Model?.Id">Szerkesztés</a> <a> | </a>
        <a type="button" class="btn btn-primary" asp-controller="Jobs" asp-route-id="@Model.ProjectId"
            asp-action="Index">Vissza</a>
    }
    else if (!SignInManager.IsSignedIn(User))
    {
        <a type="button" class="btn btn-primary" asp-controller="Jobs" asp-route-id="@Model.ProjectId"
            asp-action="TeacherView">Vissza</a>
    }
    else
    {
        <a type="button" class="btn btn-primary" asp-controller="Jobs" asp-route-id="@Model.ProjectId"
            asp-action="Index">Vissza</a>
    }
</div>