@model Munkanaplo2.Models.JobModel

@{
    ViewData["Title"] = Model.JobTitle + " szerkesztése";
    string canEdit = Model.JobCreator == Model.JobOwner ? Model.JobCreator : Model.JobOwner + " és " + Model.JobCreator;
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User) && (User.Identity?.Name == Model.JobOwner || User.Identity?.Name == Model.JobCreator))
{
    <h1>Szerkesztés</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditConfirmed">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="JobTitle" class="control-label">Cím</label>
                    <input asp-for="JobTitle" class="form-control" />
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobDescription" class="control-label">Feladatleírás</label>
                    <textarea asp-for="JobDescription" class="form-control" cols="50" rows="4"></textarea>
                    <span asp-validation-for="JobDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobOwner" class="control-label">Tulajdonos</label>
                    <select id="drpUserList" class="form-control" asp-for="JobOwner" asp-items="@ViewBag.Users"></select>
                    <input type="hidden" name="JobOwner" asp-for="JobOwner" />
                    <span asp-validation-for="JobOwner" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="hidden" asp-for="JobCreator" class="form-control" value="@Model.JobCreator"/>
                    <span asp-validation-for="JobCreator" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="CreationDate" class="form-control" value="@Model.CreationDate"/>
                    <span asp-validation-for="CreationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="JobStatus" class="form-control" value="@Model.JobStatus"/>
                    <span asp-validation-for="JobStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="FinishDate" class="form-control" value="@Model.FinishDate"/>
                    <span asp-validation-for="FinishDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Mentés" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <br>
 <div>
     <a type="button" class="btn btn-primary" asp-action="Index">Vissza</a>
 </div>
}
@if(SignInManager.IsSignedIn(User) && User.Identity?.Name != Model.JobOwner && User.Identity?.Name != Model.JobCreator)
{
    <br />
    <br />
    <h3>Ezt a feladatot nem szerkesztheted!</h3>
    <h4>Ezt a feladatot csak @canEdit szerkesztheti.</h4>
    <br />
    <a type="button" class="btn btn-primary" asp-action="Index">Vissza</a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
