@{
    ViewData["Title"] = "Feladatok";
}

@using Microsoft.AspNetCore.Identity
@using Munkanaplo2.Global
@using Munkanaplo2.Services
@inject IProjectService projectService
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (projectService.GetProjectMembers(ViewBag.ProjectId).Contains(User.Identity.Name.ToString()))
    {
        <h1>Feladatok</h1>

        @if (!TeacherHelper.IsTeacher(User))
        {
            <form class="form-inline" asp-controller="Jobs" asp-action="Create">
    <input type="hidden" name="Id" value="@ViewBag.ProjectId"></input>
    <input type="submit" value="Új feladat" class="btn btn-primary"></input>
</form>
        }

        <br>
        <table class="table">
    <thead>
        <tr>
            <th>
                <strong>Címe</strong>
            </th>
            <th>
                <strong>Feladatleírás</strong>
            </th>
            <th>
                <strong>Tulajdonos</strong>
            </th>
            <th>
                <strong>Státusz</strong>
            </th>
            <th>
                Létrehozó
            </th>
            <th>
                Létrehozás dátuma
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (JobModel item in ViewBag.UnFinishedJobs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobOwner)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobCreator)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                        <td>
                            @if (!TeacherHelper.IsTeacher(User))
                            {
                                <a asp-controller="Jobs" asp-action="Edit" asp-route-id="@item.Id">Szerkesztés</a> <a> | </a>
                                <a type="button" class="btn btn-primary" asp-controller="Jobs" asp-action="Details"
                                    asp-route-id="@item.Id">Részletek</a>
                                <a> | </a> <a asp-controller="Jobs" asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
                            }
                        </td>
                    </tr>
                }
                @foreach (JobModel item in ViewBag.FinishedJobs)
                {
                    <tr style="opacity: .5;">
                        <td>
                            @Html.DisplayFor(modelItem => item.JobTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobOwner)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobCreator)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                        <td>
                            @if (!TeacherHelper.IsTeacher(User))
                            {
                                <a asp-controller="Jobs" asp-action="Edit" asp-route-id="@item.Id">Szerkesztés</a> <a> | </a>
                                <a type="button" class="btn btn-primary" asp-controller="Jobs" asp-action="Details"
                                    asp-route-id="@item.Id">Részletek</a>
                                <a> | </a> <a asp-controller="Jobs" asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <br />
        <br />
        <div class="text-center">
    <h1 class="display-4">HIBA!</h1>
    <br>
    <p><strong>Ehhez nincs jogosultságod! ｡°(°.◜ᯅ◝°)°｡</strong></p>
    <p>Csak akkor tudod nézegetni a feladatokat ha a projektnet tagja vagy.</p>
    <br>
    <a>Ha úgy gondolod ,hogy a programmal van a gond jelensd </a><a
        href="https://github.com/tm01013/Munkanaplo2.git">itt</a>
    <br />
    <a type="button" class="btn btn-primary" asp-action="Index" asp-controller="Home">Vissza</a>
</div>
    }
}