@model IEnumerable<Munkanaplo2.Models.JobModel>

@{
    ViewData["Title"] = "Feladatok";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1>Feladatok</h1>

<br>
<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Címe</strong>
            </th>
            <th>
                <strong>Feladatleírás</strong>
            </th>
            <th>
                <strong>Tulajdonos</strong>
            </th>
            <th>
                <strong>Státusz</strong>
            </th>
            <th>
                Létrehozó
            </th>
            <th>
                Létrehozás dátuma
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCreator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a type="button" class="btn btn-primary" asp-controller="Jobs" asp-action="Details" asp-route-id="@item.Id">Részletek</a> 
            </td>
        </tr>
}
    </tbody>
</table>
